<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebAddClient1.psd</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	</head>

no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.col-md{
	float:left;
	width:100% ;
	padding: 5px;
}
.col-md-1 img {
	float:left;
	width:100%;
	padding: 5px;
}
.col-md-1 img{
	float:left;
	width:100%;
	padding: 5px;
}
.col-md-8 img{
	float:left;
	width:100%;
	padding: 5px;
}
.col-md-2 img{
	float:left;
	width:100%;
	padding: 5px;
}

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1500px;
	 height: 1606px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer4 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1500px;
	 height: 1606px;
	 z-index:1;
} 

 #Rectangle4copy 
{ 
	 left: -1px; 
	 top: 1517px; 
	 position: absolute; 
	 width: 1502px;
	 height: 90px;
	 z-index:2;
} 

 #Rectangle4 
{ 
	 left: -1px; 
	 top: 1245px; 
	 position: absolute; 
	 width: 1502px;
	 height: 274px;
	 z-index:3;
} 

 #Rectangle1copy 
{ 
	 left: -1px; 
	 top: 81px; 
	 position: absolute; 
	 width: 1502px;
	 height: 554px;
	 z-index:4;
} 

 #Layer9copy 
{ 
	 left: 0px; 
	 top: 16px; 
	 position: absolute; 
	 width: 1500px;
	 height: 618px;
	 z-index:5;
} 

 #RoundedRectangle4 
{ 
	 left: 177px; 
	 top: 693px; 
	 position: absolute; 
	 width: 1146px;
	 height: 475px;
	 z-index:6;
} 

 #Rectangle2 
{ 
	 left: 179px; 
	 top: 693px; 
	 position: absolute; 
	 width: 1142px;
	 height: 6px;
	 z-index:7;
} 

 #AddClient 
{ 
	 left: 579px; 
	 top: 269px; 
	 position: absolute; 
	 width: 341px;
	 height: 56px;
	 z-index:8;
} 

 #Pleaseaddyourclient 
{ 
	 left: 593px; 
	 top: 738px; 
	 position: absolute; 
	 width: 313px;
	 height: 30px;
	 z-index:9;
} 

 #Rectangle1 
{ 
	 left: -1px; 
	 top: -1px; 
	 position: absolute; 
	 width: 1502px;
	 height: 84px;
	 z-index:10;
} 

 #rszcds11 
{ 
	 left: 176px; 
	 top: 16px; 
	 position: absolute; 
	 width: 175px;
	 height: 50px;
	 z-index:11;
} 

 #rszcds11copy 
{ 
	 left: 663px; 
	 top: 1291px; 
	 position: absolute; 
	 width: 175px;
	 height: 50px;
	 z-index:12;
} 

 #Shape3 
{ 
	 left: 698px; 
	 top: 1326px; 
	 position: absolute; 
	 width: 15px;
	 height: 15px;
	 z-index:13;
} 

 #Rectangle5 
{ 
	 left: 714px; 
	 top: 1290px; 
	 position: absolute; 
	 width: 124px;
	 height: 52px;
	 z-index:14;
} 

 #HomeCreateCourse 
{ 
	 left: 576px; 
	 top: 36px; 
	 position: absolute; 
	 width: 647px;
	 height: 15px;
	 z-index:15;
} 

 #Thispageenablesyouto 
{ 
	 left: 546px; 
	 top: 349px; 
	 position: absolute; 
	 width: 408px;
	 height: 25px;
	 z-index:16;
} 

 #CreateCourseClients 
{ 
	 left: 465px; 
	 top: 1380px; 
	 position: absolute; 
	 width: 571px;
	 height: 15px;
	 z-index:17;
} 

 #CarterDigitalSolutio 
{ 
	 left: 651px; 
	 top: 1555px; 
	 position: absolute; 
	 width: 199px;
	 height: 15px;
	 z-index:18;
} 

 #RoundedRectangle2 
{ 
	 left: 1270px; 
	 top: 14px; 
	 position: absolute; 
	 width: 53px;
	 height: 53px;
	 z-index:19;
} 

 #Layer3 
{ 
	 left: 1272px; 
	 top: 16px; 
	 position: absolute; 
	 width: 50px;
	 height: 50px;
	 z-index:20;
} 

 #RoundedRectangle3 
{ 
	 left: 1307px; 
	 top: 51px; 
	 position: absolute; 
	 width: 19px;
	 height: 19px;
	 z-index:21;
} 

 #Ellipse4 
{ 
	 left: 633px; 
	 top: 1421px; 
	 position: absolute; 
	 width: 53px;
	 height: 53px;
	 z-index:22;
} 

 #Layer5 
{ 
	 left: 655px; 
	 top: 1440px; 
	 position: absolute; 
	 width: 9px;
	 height: 17px;
	 z-index:23;
} 

 #Ellipse4copy 
{ 
	 left: 693px; 
	 top: 1421px; 
	 position: absolute; 
	 width: 54px;
	 height: 53px;
	 z-index:24;
} 

 #Layer6 
{ 
	 left: 711px; 
	 top: 1441px; 
	 position: absolute; 
	 width: 17px;
	 height: 15px;
	 z-index:25;
} 

 #Ellipse4copy2 
{ 
	 left: 753px; 
	 top: 1421px; 
	 position: absolute; 
	 width: 54px;
	 height: 53px;
	 z-index:26;
} 

 #Layer7 
{ 
	 left: 773px; 
	 top: 1439px; 
	 position: absolute; 
	 width: 15px;
	 height: 18px;
	 z-index:27;
} 

 #Ellipse4copy3 
{ 
	 left: 814px; 
	 top: 1421px; 
	 position: absolute; 
	 width: 52px;
	 height: 53px;
	 z-index:28;
} 

 #Layer8 
{ 
	 left: 832px; 
	 top: 1440px; 
	 position: absolute; 
	 width: 16px;
	 height: 16px;
	 z-index:29;
} 

 #RoundedRectangle6 
{ 
	 left: 207px; 
	 top: 854px; 
	 position: absolute; 
	 width: 534px;
	 height: 56px;
	 z-index:30;
} 

 #COMPANY 
{ 
	 left: 208px; 
	 top: 832px; 
	 position: absolute; 
	 width: 74px;
	 height: 14px;
	 z-index:31;
} 

 #AddnewCompany 
{ 
	 left: 589px; 
	 top: 832px; 
	 position: absolute; 
	 width: 152px;
	 height: 14px;
	 z-index:32;
} 

 #PleaseSelceCompany 
{ 
	 left: 222px; 
	 top: 876px; 
	 position: absolute; 
	 width: 145px;
	 height: 15px;
	 z-index:33;
} 

 #RoundedRectangle6cop 
{ 
	 left: 759px; 
	 top: 854px; 
	 position: absolute; 
	 width: 534px;
	 height: 56px;
	 z-index:34;
} 

 #FIRSTNAME 
{ 
	 left: 760px; 
	 top: 832px; 
	 position: absolute; 
	 width: 91px;
	 height: 14px;
	 z-index:35;
} 

 #LoremIpsumissimply 
{ 
	 left: 774px; 
	 top: 876px; 
	 position: absolute; 
	 width: 147px;
	 height: 15px;
	 z-index:36;
} 

 #RoundedRectangle6cop_0 
{ 
	 left: 207px; 
	 top: 950px; 
	 position: absolute; 
	 width: 534px;
	 height: 56px;
	 z-index:37;
} 

 #laSTNAME 
{ 
	 left: 208px; 
	 top: 928px; 
	 position: absolute; 
	 width: 87px;
	 height: 14px;
	 z-index:38;
} 

 #layer_15000 
{ 
	 left: 222px; 
	 top: 971px; 
	 position: absolute; 
	 width: 55px;
	 height: 14px;
	 z-index:39;
} 

 #Shape4copy 
{ 
	 left: 712px; 
	 top: 876px; 
	 position: absolute; 
	 width: 14px;
	 height: 13px;
	 z-index:40;
} 

 #RoundedRectangle6cop_1 
{ 
	 left: 759px; 
	 top: 950px; 
	 position: absolute; 
	 width: 534px;
	 height: 56px;
	 z-index:41;
} 

 #Email 
{ 
	 left: 760px; 
	 top: 929px; 
	 position: absolute; 
	 width: 47px;
	 height: 13px;
	 z-index:42;
} 

 #Typehere 
{ 
	 left: 773px; 
	 top: 972px; 
	 position: absolute; 
	 width: 64px;
	 height: 15px;
	 z-index:43;
} 

 #RoundedRectangle6cop_2 
{ 
	 left: 1049px; 
	 top: 1044px; 
	 position: absolute; 
	 width: 244px;
	 height: 72px;
	 z-index:44;
} 

 #Addclient 
{ 
	 left: 1104px; 
	 top: 1071px; 
	 position: absolute; 
	 width: 133px;
	 height: 19px;
	 z-index:45;
} 

 #RoundedRectangle6cop_3 
{ 
	 left: 207px; 
	 top: 1044px; 
	 position: absolute; 
	 width: 244px;
	 height: 72px;
	 z-index:46;
} 

 #cancel 
{ 
	 left: 285px; 
	 top: 1070px; 
	 position: absolute; 
	 width: 87px;
	 height: 19px;
	 z-index:47;
} 
